.padding-top {
	padding-top: 90px;
}

.mrg-bot {
	margin-bottom: 72px;
}

.icon {
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: calc(50% - 50px);
	margin-right: calc(50% - 50px);
}

.catagory-link {
  text-align: center;
}

.center-text{
	text-align: center;
}

.frontpage-image {
	width: 150px;
	height: 150px;
	margin-left: calc(50% - 75px);
	margin-right: calc(50% - 75px);
}