.padding-top {
	padding-top: 80px;
}

.mrg-bot {
	margin-bottom: 72px;
}

.icon {
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: calc(50% - 50px);
	margin-right: calc(50% - 50px);
}

.catagory-link {
  text-align: center;
}

.center-text{
	text-align: center;
}

.frontpage-image {
	width: 150px;
	height: 150px;
	margin-left: calc(50% - 75px);
	margin-right: calc(50% - 75px);
}

.Profile-picture {
	width: 150px;
	height: 150px;
}

.item-image {
	width: 200px;
	height: 200px;
}

.signup-button-margin {
	margin-top: 30px;
	margin-left: calc(50% - 51.775px);
	margin-right: calc(50% - 51.775px);
}

.login-button-margin {
	margin-top: 30px;
	margin-left: calc(50% - 41.54px);
	margin-right: calc(50% - 41.54px);
}

.google-button-margin {
	margin-top: 30px;
	margin-left: calc(50% - 79.225px);
	margin-right: calc(50% - 79.225px);
}

.delete-button {
	margin-left: calc(50% - 31.125px);
	margin-right: calc(50% - 31.125px);
}

.Corvus {
	margin-left: 70px;
}
