{% extends "header.html" %}
{% block content %}
<div class="row padding-top">
	<div class="col-3">
		<a href="/Corvus/catagory/Motherboards">
			<img src="static/images/051-motherboard.svg" class="icon" alt="Motherboards icon">
			<h4 class="catagory-link">Motherboards</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/CPUs">
			<img src="static/images/051-cpu.svg" class="icon" alt="CPUs icon">
			<h4 class="catagory-link">CPUs</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/RAM">
			<img src="static/images/051-ram-memory.svg" class="icon" alt="RAM icon">
			<h4 class="catagory-link">RAM</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/Graphics Cards">
			<img src="static/images/051-video-card.svg" class="icon" alt="Graphics icon">
			<h4 class="catagory-link">Graphics Cards</h4>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<a href="/Corvus/catagory/HDD, SSD, M.2">
			<img src="static/images/051-hdd.svg" class="icon" alt="Hardrive icon">
			<h4 class="catagory-link">HDD, SSD, M.2</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/Power Supplies">
			<img src="static/images/051-power.svg" class="icon" alt="Power supply icon">
			<h4 class="catagory-link">Power Supplies</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/Cases">
			<img src="static/images/051-computer.svg" class="icon" alt="Case icon">
			<h4 class="catagory-link">Cases</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/peripherals">
			<img src="static/images/coding.svg" class="icon" alt="peripherals icon">
			<h4 class="catagory-link">Peripherals</h4>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<a href="/Corvus/catagory/Cooling">
			<img src="static/images/051-cooler.svg" class="icon" alt="cooling icon">
			<h4 class="catagory-link">Cooling</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/Optical Drives">
			<img src="static/images/051-drive.svg" class="icon" alt="Optical Drives icon">
			<h4 class="catagory-link">Optical Drives</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/Other Pci Cards">
			<img src="static/images/network-interface-card.svg" class="icon" alt="Other PCIs icon">
			<h4 class="catagory-link">Other Pci Cards</h4>
		</a>
	</div>
	<div class="col-3">
		<a href="/Corvus/catagory/All products">
			<img src="static/images/pc.svg" class="icon" alt="All products icon">
			<h4 class="catagory-link">All products</h4>
		</a>
	</div>
</div>
<div class="row padding-top">
	<h4>Most viewed products</h4>
</div>

<div class="row">
	{% for item in items %}
	<div class="col-3">
		<a href="{{url_for('ViewItem', catagory=catagory, item_id=item.id)}}">
			<div class="row">
				<img src="/static/Upload images/{{item.filename}}"" class="frontpage-image">
			</div>
			<div class="center-text">
				{{item.name}}			
			</div>
		</a>
	</div>
{% endfor %}
</div>
{% endblock %}