<!DOCTYPE html>
<html>
	<head>
		<title>Corvus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles_sheet.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
		<script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<script>
		  function start() {
		    gapi.load('auth2', function() {
		      auth2 = gapi.auth2.init({
		        client_id: '586446245250-sadoo5208prbdb35ohviphfnts8drfiq.apps.googleusercontent.com'
		      });
		    });
		  }
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<nav class="navbar fixed-top navbar-dark bg-dark">
					<div class="container">
						<a href=""></a>
						<a class="navbar-brand " href="/">
							<h2 class="center-text Corvus">Corvus</h2>
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    	<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
					    	<ul class="navbar-nav">
					    		{% if userlogin != None %}
					      		<li class="nav-item active">
					        		<a class="nav-link" href="/Corvus/Logout">Logout <span class="sr-only"></span></a>
					      		</li>
					      		<li class="nav-item active">
					        		<a class="nav-link" href="/Corvus/Newitem">Add Item <span class="sr-only"></span></a>
					      		</li>
					      		<li class="nav-item active">
					        		<a class="nav-link" href="/Corvus/Profile">My profile <span class="sr-only"></span></a>
					      		</li>
					      		{% else %}
					      		<li class="nav-item active">
					        		<a class="nav-link" href="/Corvus/login">Login <span class="sr-only"></span></a>
					      		</li>
					      		<li class="nav-item active">
					        		<a class="nav-link" href="/Corvus/signup">Sign up <span class="sr-only"></span></a>
					      		</li>
					      		{% endif %}
					      	</ul>
					    </div>
				    </div>
			   	</nav>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>