{% extends "Header.html" %}
{% block content %}
<form action="#" method="post">
	<div class="row padding-top">
		<div class="col-3"></div>
		<div class="col-6">
			<label for="name">Username:</label>
			<input type ="text" maxlength="40" class="form-control" name="username" placeholder="Enter your username here">
		</div>
		<div class="col-3"></div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<label for="name">Password:</label>
			<input type ="password" maxlength="40" class="form-control" name="password" placeholder="password">
		</div>
		<div class="col-3"></div>
	</div>
	<div class="row ten-mrg-top">
		<div class="col">
			<button type="submit" class="btn btn-dark btn-lg login-button-margin">Login</button>
		</div>
	</div>
</form>
<div class="row">
  <button id="signinButton" class="btn btn-dark btn-lg google-button-margin">Google Signin</button>
  <div id="result"></div>
</div>
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
{% endblock %}