{% extends "header.html" %}
{% block content %}
<div class="row padding-top">
	<div class="col">
		{% if user.profilepic == None %}
			  <img class="Profile-picture" src="/static/images/profile-placeholder.png" alt="base profile picture">
	    {% else %}
			  <img class="Profile-picture" src="/static/Upload images/{{user.profilepic}}" alt="Users profile picture">
	    {% endif %}
	</div>
</div>
<div class="row">
	<div class="col"><h4>{{user.username}}</h4></div>
</div>
{% if user.description != None %}
	<div class="row">
		<div class="col">
			{{user.description}}
		</div>
	</div>
{% endif %}

{% for item in items %}
<hr>
<a href="{{url_for('ViewItem', catagory=catagory, item_id=item.id)}}">
	<div class="row">
		<div class="col-6">{{item.name}}</div>
		<div class="col-6">$ {{item.price}}</div>
	</div>
</a>
{% endfor %}
{% endblock %}